<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="box">
        <span class="borderLine"></span>
        <form method="post">
            {{ form.hidden_tag() }}
            <h2>LOGIN PAGE</h2>
            <div class="inputbox">
                <!-- <input type="text" required="required">-->
                {{ form.username }}
                <span>USERNAME</span>
                <i></i>
            </div>
            <div class="inputbox">
                <!-- <input type="password" required="required">-->
                {{ form.password }}
                <span>PASSWORD</span>
                <i></i>
            </div>
            <div class="links">
                <a href="#">FORGOT PASSWORD</a>
                <a href="{{ url_for('register_page') }}">SIGNUP</a>
            </div>
            <!-- <input type="submit" value="Login">-->
            {{ form.submit }}
        </form>
    </div>
</body>

</html>